<footer class="footer">
  <ul class="navbar-nav">
    <li><%= link_to "What is Thalia?", '#', class: "link"  %> | <%= link_to "利用規約", '#', class: "link"  %> | <%= link_to "プライバシーポリシー", '#', class: "link"  %> | <%= link_to "お問い合わせ", '#', class: "link" %></li><br/>
    <li>© <%= Date.today.year %> Thalia.com All right reserved.</li>
  </ul>
</footer>
