
  <div class="navbar navbar-default navbar-fixed-top header">
    <div class="container">
      <nav>
      <button type="button", class="navbar-toggle" data-toggle='collapse' data-target='.navbar-responsive-collapse'>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav pull-right">
                <li><%= link_to "What is Thalia？",  root_path  %></li>
                  <li>
                    <%= link_to "Works", works_path %>
                  </li>
                 <% if user_signed_in? %>
                   <li>
                    <%= link_to "My Page", user_path(current_user) %>
                    </li>
                    <li>
                      <%= link_to "My Works", myworks_index_path %>
                    </li>
                    <li>
                      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
                    </li>
                <% else %>
                    <li>
                      <%= link_to "Sign Up", user_google_oauth2_omniauth_authorize_path, :class => 'post' %>
                    </li>

                <% end %>
            </ul>
        </div>
        </nav>
    </div>
  </div>
